.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 80px;
}

.hangMan {
  width: 300px;
  height: 400px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
}

.questioNanswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}