.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 80px;
}

.questioNanswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.question {
  margin: 24px;
  font-size: 32px;
  font-weight: 700;
}

.question span {
  font-weight: 800;
  color: #03be3e;
}

.submit_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input {
  width: 300px;
  height: 32px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: black;
  text-align: center;
  font-size: 24px;
}

.submitButton {
  width: 200px;
  font-size: 24px;
  padding: 4px 16px;
  text-align: center;
  background: #9faeae;
  border-radius: 4px;
}

/* game */

.invaderMustDie {
  width: 300px;
  height: 400px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background: #60adab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.shot_space {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invader {
  z-index: 1;
}

.invader_shot {
  display: flex;
  width: 5px;
  height: 10px;
  background: #ff0000;
  position: relative;
  top: -15px;
}

.space_ship {
  z-index: 1;
}

.spaceship_shot {
  display: flex;
  width: 5px;
  height: 10px;
  background: #ff0095;
  position: relative;
  top: 15px;
}

@keyframes shipShot {
  0%   {top: 0px;}
  100% {top: -300px;}
}