.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 80px;
}

.hangMan {
  width: 300px;
  height: 400px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background: #60adab;
}

.questioNanswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.question {
  margin: 24px;
  font-size: 32px;
  font-weight: 700;
}

.question span {
  font-weight: 800;
  color: #03be3e;
}

.submit_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input {
  width: 300px;
  height: 32px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: black;
  text-align: center;
  font-size: 24px;
}

.submitButton {
  width: 200px;
  font-size: 24px;
  padding: 4px 16px;
  text-align: center;
  background: #9faeae;
  border-radius: 4px;
}

