.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 80px;
}

.vocabulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.german_word {
  margin: 24px;
  font-size: 32px;
  font-weight: 700;
}

.german_word span {
  font-weight: 800;
  color: #03be3e;
}

.submit_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input {
  width: 300px;
  height: 32px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: black;
  text-align: center;
  font-size: 24px;
}

.submit_button {
  width: 200px;
  font-size: 24px;
  padding: 4px 16px;
  text-align: center;
  background: #9faeae;
  border-radius: 4px;
}

/* game space */

.invaderMustDie {
  width: 320px;
  height: 400px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background: #3a4848;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.shoot_space {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#message {
  font-size: 50px;
  font-weight: 800;
  color: #00ff51;
  text-shadow: 3px 5px #ff0095;
  text-align: center;
  animation-name: showMessage;
  animation-duration: 3s;
}

/* invader */
.invader {
  z-index: 1;
  display: flex;
  gap: 8px;
  position: relative;
  left: 42%;
  font-size: 16px;
  font-weight: 600;
}

.invader_shoot {
  display: flex;
  width: 5px;
  height: 10px;
  background: #ff0000;
  position: relative;
  top: -15px;
}

@keyframes invaderShoot {
  0% {
    top: 0px;
  }

  100% {
    top: 300px;
  }
}

/* spaceship */
.space_ship {
  z-index: 1;
  display: flex;
  gap: 8px;
  position: relative;
  left: 42%;
  font-size: 16px;
  font-weight: 600;
}

.spaceship_shoot {
  display: flex;
  width: 5px;
  height: 10px;
  background: #ff0095;
  position: relative;
  top: 15px;
}

@keyframes shipShoot {
  0% {
    top: 0px;
  }

  100% {
    top: -300px;
  }
}