* {
  margin: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Play";
}

.header {
  width: 100%;
  height: 120px;
  background: #119893;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer {
  width: 100%;
  height: 120px;
  background: #119893;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}